<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>Exercise</header>
    <div class="center">
        <button><a href="/">Foods</a></button>
        <button>Exercise</button>
        <form action="/exercise" method = "POST">
            <input autofocus type="text" name = "exercise" placeholder="30 min yoga">
            <br>
            <button>Calculate Foods</button>
        </form>
        
    </div>
</body>

</html>